body {
    background: url(./Background-website/Dark-Marble.jpeg) center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: Verdana;
    color: white;
}

.Titles {
    text-align: center;
}

#aboutMe {

}

.row {
    height: 25%;
    width: 25%;
    float: left;
    padding: 5px;
}

#Travel::after {
    content: "";
    clear: both;
    display: table;
}

#AustriaPic {
    height: 100%;
    width: 100%;
}

#FrancePic {
    height: 100%;
    width: 100%;
}

#ItalyPic {
    height: 55%;
    width: 55%;
}

#SpainPic {
    height: 100%;
    width: 100%;
}

.row2 {
    height: 20%;
    width: 20%;
    float: left;
    padding: 5px;
}

#EDM::after {
    content: "";
    clear: both;
    display: table;
}

#avb {
    height: 100%;
    width: 100%;
}

#heady {
    height: 100%;
    width: 100%;
}
#anger {
    height: 100%;
    width: 100%;
}

#zhu {
    height: 100%;
    width: 100%;
}

#shm {
    height: 100%;
    width: 100%;    
}

.row3 {
    height: 50%;
    width: 50%;
    float: left;
    padding: 5px;
}

#Rap::after {
    content: "";
    clear: both;
    display: table;
}

#trapgod {
    height: 70%;
    width: 70%;
}

#atlien {
    height: 70%;
    width: 70%;
}

#YSL1 {
    width: 100%;
    height: 100%;
    object-fit: contain;   
}