body {
    background: url(./Background-website/Dark-Marble.jpeg) center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: Verdana;
    color: white;
}

.Titles {
    text-align: center;
}

#aboutMe {

}

#AustriaPic {
    width: 25%;
    height: 25%;
    object-fit: contain;
}

#FrancePic {
    width: 25%;
    height: 25%;
    object-fit: contain;
}

#ItalyPic {
    width: 25%;
    height: 25%;
    object-fit: contain;
}

#SpainPic {
    width: 25%;
    height: 25%;
    object-fit: contain;
}

#YSL1 {
    width: 100%;
    height: 100%;
    object-fit: contain;   
}